@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

*{
    padding : 0;
    margin : 0;
    }

.lato{
         font-family: 'Lato', sans-serif;
    }

.lora{  
        font-family: 'Lora';
        }

.container{
    width = 100%;
}

.left {
    float : left;
    }

.right {
    float : right;
    }

.header {
    margin : 0px;
    padding : 0px;
    width : 100%;
    border-bottom : 1px solid black;
}

.title-text{
    font-weight : bolder;
    margin: 10px;
    padding : 10px;
    display : inline-block;
    font-family: Playfair Display;
    font-size: 48px;
    width: 193px;
    height: 53px;
    color : #000000;
}

a{
    text-decoration : none;
    }


.header-right{
    display: inline-block;
    }

.navbar-list{
    width : 600px;
    margin-top : 25px;
    list-style-type : none;
    }



.navbar-list ul{
    list-style-type : none;
    margin : 0;
    padding : 0;
    overflow : hidden;
}

.navbar-list li {
    float : left;
    padding-right : 30px;
 }

.navbar-list li a {
    display : block ;
    color : #000000;
    text-align : center ;
    text-decoration : none;
    font-family : 'Lato',sans-serif;
    font-weight : 300;
    font-size : 16px;
}

.navbar-list li : first-child a{
    font-weight : 400;
}

.login {
    float: right ;
    clear : both;
}

.login span{
    font-family : 'Lato',sans-serif;
    font-weight : 300;
    font-size : 20px;
    display : inline-block;
    color : #000000;
    margin-top : 15px;
    margin-right : 130px;
}

.wrapper {
    margin : 20px;
    padding : 20px;
}

.information {
    margin : 10px;
    padding : 10px;
}

.title-color {
    color : orange;

}

.info-left{
    width : 500px;
    float : left;
}

.info-right{
    margin-top : 30px;
    padding-left: 10px;
    float : right;
}

.info-right h1{
    font-family : 'Playfair Display', serif;
    font-weight : bold;
    font-size : 35px;
    text-transform : capitalize;
    color : #334756;
}

.info-right p{
    font-family : 'Lato', sans-serif;
    font-weight : bold;
    font-size : 16px;
    color : #667580;
    width : 396px;
    padding : 20px;
}

.info-right buttons{
    margin-top : 60px;
    padding : 10px;
}

.info-right button{
    padding: 5px 20px;
    width: 170px;
    height: 48px;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #ff6041;
    color: #ffffff;
    border: none;
}

.info-right button:nth-child(2){
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
}

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
  }

.content-box{
    margin-top :60px;
    padding : 10px;
    display : block;
    }


.browse-header { 
    display : block;  
    width : 100%;   
    }

.browse-header h2{
    text-transform: capitalize;
    display: inline;
    width: 411px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    color: #2C394B;
    margin-top : 30px;
}

.browse-content{
    display: inline;
    padding-left: 10px;
    }

.browse-content p{
    width: 500px;
    height: 43px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #667580;
    margin-top:-20px;
}

.card-content {
    width :100%;
    margin-top :60px;
    display :block;
    margin-left :30px;
    padding; 20px;
}


.office-card {
    height : 264px;
    width : 355px;
    margin-top :60px;
    background-color : #2C394B;
    display : inline-block;
    margin-left : 50px;
    margin-right : 50px;
}


.card-img{
    height : 200px;
    width : 100%;
    display : block;
    }

.office-card-details {
    margin-top :10px;
    margin-left : 20px;
    padding : 20px;
    height : 64px;
}

.content-need{
    width: 100%;
    margin-top : 120px;
    padding : 20px;
}

.content-need-left{
    width: 50%;
    text-align: left;


}
.navbar-vertical li{
    text-decoration : none;
    display : block;
    padding : 20px;
    color :#334756;
    font-weight: border;
    width : 237px;
    padding : 20px;
    margin-top : 20px;
}

.content-need-right img{
    width: 587px;
    margin-top: 13px;
    margin-right :50px;
}

.default-button{
    width: 268px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight : bolder;
    font-size: 16px;
    background-color: #FF4C29;
    color: #ffffff;
    border: none;
}
.location{
    display:block;
    width:100%;
}
.map{
    width: 809.9px;
}
.location-content{
    width : 400px;
    padding : 10px;
    margin-right : 60px;
    margin-top :20px;
}
.location-content-text{
    text-transform: capitalize;
    display: inline;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    margin-top : 30px;
}
.location-content-text span{
    color : #FF4C29;

}
.location-content-p{
    width: 331.31px;
    height: 43px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #667580;
    margin-top : 30px;
}
.customer{
    width:100%;
    }
.customer-header{
    width: 228px;
    height : 82px;
    font-family : 'Playfair Display',serif;
    margin-left: 60px;
    padding 20px;
    margin-bottom:20px;
}
.customer-content{
    width: 100%;
    display: block;
    }
.customer-content-card{
    margin-top: 41px;
    margin-left: 34px;
    width: 395px;
    height: 258px;
    background: #334756;
}
.customer-statement p{
    color: #ffffff;
    padding: 20px;
    width : 329px;
    z-index: 2;
        }
customer-content-card i{
    padding: 24px 0px 0px 30px;
    z-index: 1;
        }
 .customer-footer{
    width: 134px;
    height: 39px;
    left: 34px;
    top: 189px;
        }

.customer-footer img{
    width: 32px;
    height: 32px;
        }

.cusutomer-info{
    width: 100%;        
    height: 39px;
    color: #ffffff;
    left: 60px;
    }




  .testimonial{
            margin-left: 150px;
            margin-top: 80px;
            margin-bottom: 50px;
            height: 434px;
        }

        .testimonial h2{
            font-size: 32px;
        }

        .testimonial-items{
            position: relative;
            float: left;
            margin-right: 24px;
            margin-top: 30px;
        }

        .testimonial-box{
            width: 395px;
            height: 258px;
            background: #334756;
        }

        .testimonial-box i{
            padding: 24px 0px 0px 30px;
            position: absolute;
            z-index: 1;
        }

        .testimonial-statement p{
            color: #ffffff;
            position: absolute;
            z-index: 2;
        }

        .testimonial-statement
        {
            width: 329.94px;
            height: 44px;
            position: absolute;
            top: 41px;
            left: 34px;
        }

        .swipe a{
            font-weight: bolder;
            text-decoration: none;
            color: #086DE0;
            font-size: 20px;
            display: none;
        }

        .testimonial-footer{
            position: absolute;
            width: 134px;
            height: 39px;
            left: 34px;
            top: 189px;
        }

        .testimonial-footer img{
            position: absolute;
            width: 32px;
            height: 32px;
        }

        .client-info{
            width: 100%;            ;
            height: 39px;
            color: #ffffff;
            position: absolute;
            left: 60px;
           
        }

        .client-info h3{
            font-size: 16px;
            margin: 0px;
        }

        .client-info span{
            font-size: 12px;
        }

        .clients{
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 90px;
            position: relative;
            height: 240px;
        }

        .clients-showcase{
            text-align: center;
        }

        .clients-showcase h1{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: capitalize;
            color: #334756;
        }

        .clients-showcase p{
            width: 584px;
            /* height: 36px; */
            text-align: center;
            color: #667580;
            position: absolute;
            left: 300px;    
            margin: 0px;
        }

        .clients-logo{
            margin-top: 140px;
        }

        .clients-logo span{
            width: 208px;
            height: 40px;
            margin-right: 80px;
        }
    
  .trends{
            max-width: 1200px;
            margin: 0 auto;
            height: 900px;
            margin-top: 100px;
        }

        .trends h1{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: capitalize;
            color: #334756;
        }

        .trend-box{
            margin-top: 40px;
        }

        .trend-item{
            width: 360px;
            height: 355px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            float: left;
            margin-left: 50px;
            margin-bottom: 40px;
        }

        .trend-item img{
            width: 360px;
            height: 240px;
        }

        .trend-title{
            padding: 23px 44px 44px 23px;
            color: #334756;
        }

        .trend-title h4{
            margin: 0px;
            font-weight: bolder;
            size: 20px;
        }

        .nomargin{
            margin-left: 0px;
        }

        .footer{
            height: 400px;
            background: #F7F7F7;
            padding: 80px 117px;
            margin: 0;
            margin-top: 80px;
        }

        .footer-box{
            height: 400px;
        }

        .footer-section h1{
            font-family: Playfair Display;
            font-size: 48px;
            width: 193px;
            height: 53px;
        }

        .footer-section{
            float: left;
            margin-right: 120px ;
        }

        .footer-section i{
            margin-right: 10px;
            
        }

        .footer-location{
            margin-top: 56px;
        }

        .footer-section ul{
            list-style-type: none;
        }

        .footer-section a{
            text-decoration: none;
            color: #242a2e;
        }

        .footer-section li{
            padding: 10px 0px;
            font-size: 16px;
        }
        
        .footer-section li:first-child{
            padding: 25px 0px;
            font-size: 20px;
        }

        .footer__link--unique{
            font-weight: bolder;
        }

        .footer__link--unique a{
            color: #086DE0;
        }

        .footer-section-right{
            text-align: right;
            margin-right: 0px;
        }

        .footer-section-right li:nth-child(3){
            margin-top: 40px;
        }

        .fa-facebook, .fa-instagram{
            padding-right: 5px;
        }

        .copyright{
            width: 600px;
            height: 30px;
            margin: 0 auto;
            margin-top: 50px;
            border-top: 1px solid black;
            text-align: center;
        }

        .checkbtn{
            font-size: 30px;
            color: #000000;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check{
            display: none;
        }


       



